# Ignorar el entorno virtual
**/myvenv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos ocultos de macOS
.DS_Store

# Ignorar directorios específicos dentro de Analysis-Large-Area-AFM
Analysis-Large-Area-AFM/DataTest/

# Ignorar __pycache__ en cualquier parte del repositorio
**/__pycache__/

